{{! The `with` helper lets you alias some data to a variable name }}
{{#with data.data as |info|}}
  {{!--
    If there is a valid thumbnail, it is disaplyed at the top of
    the card
  --}}
  {{#if info.brand_safe}}
    {{#if info.preview.enabled}}
      {{#if (is-url info.thumbnail)}}
        <img class="card-img-top" src={{info.thumbnail}} alt="Post Image Preview">
      {{/if}}
    {{/if}}
  {{/if}}
  <div class="card-body">
      {{! Handles Creating the Card's Title }}
      <h5 class="card-title">
        {{info.title}}
        {{#if info.spoiler}}
          <span class="badge badge-warning">Spoiler</span>
        {{/if}}
        {{#if info.over_18}}
          <span class="badge badge-danger">NSFW</span>
        {{/if}}
      </h5>
      {{! Handles Creating the Card's Subtitle}}
      <h6 class="card-subtitle mb-2 text-muted">Author: <em>{{data.data.author}}</em></h6>

      {{!--
        If this is being rendered as a block, the children go here
      --}}
      {{yield}}
  </div>
{{/with}}
