{{!-- This is a handlebars comment --}}
{{! The hyphens are not necessary but it looks more like an html comment}}
{{!-- application.hbs renders first on all routes.  --}}
<h1 class="display-1">Ember Workshop</h1>
<p class="lead">A tutorial application by Michael Fryer. This application fetched content from the subreddits r/anime, r/buildapc, r/food, and r/rarepuppers</p>
{{!-- Sub-components will render inside the `outlet` keyword in route handlebars files --}}
{{outlet}}
